<footer class="footer">
<small> The <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a> by <a href="https://www.michaelhartl.com/">Michael Hartl</a> Modified by <a href="https://richibro.blogspot.com">richibro</a></small>
<nav>
<ul>
<li><%= link_to "About", about_path, class: "nav-link link-dark px-2" %></li>
<li><%= link_to "Contact", contact_path, class: "nav-link link-dark px-2" %></li>
<li><a class="nav-link link-dark px-2" href="https://news.railstutorial.org/">News</a></li>
</ul>
</nav>
</footer>
